<div class="parallax-container">
  {{#if background}}
    {{md-parallax image=background}}
  {{else}}
    {{md-parallax image="http://localhost:4200/assets/images/background.JPG"}}
  {{/if}}
      <div class="row blog-header">
        <div class="col s12 m12 l12 center-align">
        <h1 class="header center white-text">{{title}}</h1>
          <h5 class="header col s12 white-text">{{subtitle}}{{yield}}</h5>
        </div>
      </div>
</div>
