
{{index-navigation categories=model.categories}}
{{index-header title=model.category subtitle="embrace yourself"}}
<div class="container center-align" style="min-height:500px;">
  {{#each model.posts as |post|}}
    {{category-post post=post}}
  {{/each}}
  {{category-pagination hasPreviousPage=model.posts.firstObject.hasPreviousPage page=model.page}}
</div>
{{index-footer settings=model.blog.firstObject.settings categories=model.categories}}
