{{admin-navigation}}
<div class="container center-align">
  <div class="row">
    <div class="col s12">
      <h2>Keywords</h2>
    </div>
  </div>
    <div class="row">
      <div class="card col s12 m8 offset-m2 l8 offset-l2">
        <table>
        <thead>
          <tr>
            <th data-field="name">Name</th>
            <th data-field="rank">Popularity</th>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="input-field">
                {{input value=newKeyword.name type="text"  data-error="right" class="validate"}}
              </div>
            </td>
            <td class="center-align">0</td>
            <td>
              <button class="btn waves-effect waves-light" type="button"
                {{action "insert" newKeyword on="mouseUp"}}>
                <i class="fa fa-plus" aria-hidden="true" title="Add"></i>
              </button>
            </td>
            <td></td>
          </tr>
        {{#each model as |keyword|}}
          <tr>
            <td>
              {{keyword.name}}
            </td>
            <td>
              {{keyword.popularity}}
            </td>
            <td>
              <button class="btn waves-effect waves-light" type="button"
                {{action "remove" keyword on="mouseUp"}}>
                <i class="fa fa-trash " aria-hidden="true"  title="Remove"></i>
              </button>
            </td>
          </tr>
        {{/each}}
      </tbody>
      </table>
    </div>
  </div>
</div>
