{{index-navigation categories=model.categories}}
{{#index-header title=model.post.title}}
{{model.post.user}} / {{model.createdOnFormatted}} / {{#each model.post.keywords as |keyword|}}
  {{#link-to "toKeyword" keyword}}{{keyword}} {{/link-to}}
  {{/each}}
{{/index-header}}
<div class="container center-align" style="min-height:1000px;">
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card">
              <div class="card-content">
                <p class="flow-text">
                  {{model.post.content}}</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
      </div>
    </div>
  </div>
</div>
{{index-footer settings=model.blog.firstObject.settings categories=model.categories}}
