{{admin-navigation}}
<div class="container center-align">
  <div class="row">
    <div class="col s12">
      <h2>Posts</h2>
    </div>
  </div>
    <div class="row">
      <div class="card col s12 m12 l12">
        <div class="row">
          <div class="col s8 left-align">
            {{#link-to 'post-edit' "0" tagName='button' class="btn waves-effect waves-light left" type="button"}}
                Create new Post<i class="fa fa-plus right" aria-hidden="true"  title="Edit"></i>
            {{/link-to}}
          </div>
          <div class="col s4 right-align">
            {{md-select value=model.showWithStatus
                label="Show with status"
                content=model.postStatuses
                class="col col s12 m12 l12"}}
          </div>
        </div>
        <table>
        <thead>
          <tr>
            <th>Created</th>
            <th>Title</th>
            <th>Status</th>
            <th>Category </th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {{#each model.posts as |post|}}
          <tr>
            <td>
              {{moment-format post.created "MMMM DD, YYYY"}}
            </td>
            <td>
              {{post-url post.title}}
            </td>
            <td>
              {{post.postStatus}}
            </td>
            <td>
              {{post.category}}
            </td>
            <td>

            </td>
            <td>
              {{#link-to 'post-edit' (post-url post.title) tagName='button' class="btn waves-effect waves-light" type="button"}}
                  <i class="fa fa-pencil " aria-hidden="true"  title="Edit"></i>
              {{/link-to}}
            </td>
            <td>
              <button class="btn waves-effect waves-light" type="button"
                {{action "remove" post.id on="mouseUp"}}>
                <i class="fa fa-trash " aria-hidden="true"  title="Remove"></i>
              </button>
            </td>
          </tr>
        {{/each}}
      </tbody>
      </table>
    </div>
  </div>
</div>
